<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/components/filter/filter.css"> <!-- Link to your CSS file -->
</head><!-- Task Filter Form -->


<style>
.filter-wrapper {
    overflow:auto;
    height:100%;
    padding:2em;
}
.title-search {
    text-align:center;
}
</style>
<div class="filter-wrapper" id="filter-wrapper">

    <div class="filter-container">
        <h3 class="title-search">Search - Tasks</h3>
        <form id="taskFilterForm">
            <!-- Task Name Filter -->
            <div class="filter-group">
                <label for="taskName">Task Name</label>
                <input type="text" id="taskName" placeholder="Enter task name" />
            </div>
            
            <div class="filter-group">
                <label for="taskUserName">User Name</label>
                <input type="text" id="taskUserName" placeholder="Enter user name" />
            </div>

            <!-- State Filter -->
            <div class="filter-group">
                <label for="taskState">State</label>
                <select id="taskState">
                    <option value="">Select State</option>

                </select>
            </div>

            <!-- Category Filter -->
            <div class="filter-group">
                <label for="taskCategory">Category</label>
                <select id="taskCategory">
                   <option value="">Select Category</option>

                </select>
            </div>

            <!-- Priority Filter -->
            <div class="filter-group">
                <label for="taskPriority">Priority</label>
                <select id="taskPriority">
                    <option value="">Select Priority</option>
           
                </select>
            </div>

            <!-- Type Filter -->
            <div class="filter-group">
                <label for="taskType">Type</label>
                <select id="taskType">
                    <option value="">Select Type</option>

                </select>
            </div>

            <!-- Topic Filter -->
            <div class="filter-group">
                <label for="taskTopic">Topic</label>
                <input type="text" id="taskTopic" placeholder="Enter topic" />
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn-search">Search</button>
        </form>
    </div>

    <!-- Container to display the tasks -->
    <div id="search-task-list" class="task-list-container"></div>
    <div id="search-task-loading" style="display: none;">
        <div class="spinner"></div> <!-- Add CSS for spinner below -->
    </div>

</div>
